body{
    font-size: 24px;
}

.container{
    background-color: rgba(239, 141, 227, 0.935);
    margin:3rem auto;
    padding:3rem 5rem; 
    line-height: 0rem;
}

label{
    margin-left: 1rem;
}

.red{
    color:red;
}

.black{
    color:white;
}

.defaultColor{
    color: rgba(239, 141, 227, 0.935);
}

.magenta{
    color:magenta;
}
